services:
  django:
    image: backend
    container_name: backendSvc
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    depends_on:
      - postgres
    expose:
      - "8000"
    ports:
      - 8000:8000
    volumes:
      - ./backendSvc:/usr/local/app/
    networks:
      - composedevenv_fbsnet
    command: python manage.py runserver 0.0.0.0:8000

  postgres:
    image: postgres:18.0-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - composedevenv_fbsnet

    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
    #   interval: 2s
    #   retries: 10
    #   timeout: 5s

  redis:
    image: redis:8.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - composedevenv_fbsnet

  celery:
    image: celery-svc
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fbs-celery
    env_file:
      - .env
    # command: ["sh", "-c", "celery worker -A backendSvc.celery -Q flightBookingBackendSvc -l info --concurrency=20"]
    depends_on:
      - postgres
      - redis
    command: celery -A backendSvc worker -l info --concurrency=4
    networks:
      - composedevenv_fbsnet

networks:
  composedevenv_fbsnet:
    name: composedevenv_fbsnet
    driver: bridge

volumes:
  pgdata: